<div class="container-fluid cuartaCapa">
    <img src="images/nintendo-banner.jpg" class="img-fluid">
  </div>

  <div class="cointaner-fluid quintaCapa">
    <img src="images/N64_goldeneye.jpg" class="img-fluid">
  </div>