<div class="cuartaCapa">	
    <div class="container-fluid text-center">	
        <h4>4°B Ingeniería de Software</h4>	
        <h1>NOSOTROS: </h1>		   		
    </div>
</div>

<div class="quintaCapa">
    <div class="container-fluid text-center">
        <div class="row">
                <!--tarjeta 1-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Alejandro Carrillo Villegas</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur 
                                  adipiscing elit feugiat malesuada, volutpat fermentum eu ac 
                                  faucibus pellentesque torquent nullam gravida et, ut nam massa 
                                  purus congue class mi nunc.
                        </p>
                        <p class="card-text">Matrícula: </p>
                        <img class="img-fluid" width="50%" height="50%" alt="Gatito Ponido aki" src="images/ponidoAqui.png">
                    </div>
                </div>
            </div>
            <!--tarjeta 2-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Rafael Uribe Caldera</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Nací el 28 de Junio del 2000, actualmente me dedico a 
                            estudiar Ingeniería de Software y mis mayores pasatiempos son dibujar y escuchar
                            música. Me gustan los gatos, el café. Mis objetivos actuales son terminar la carrera y
                            seguir mejorando mis habilidades con ilustración digital.
                        </p>
                        <p class="card-text">Matrícula: 35164744</p>
                        <img class="img-fluid" width="50%" height="50%" alt="Gatito Ponido aki" src="images/ponidoAqui.png">
                    </div>
                </div>
            </div>
                <!--tarjeta 3-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Josué Guillermo González Pinedo</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Nací el 29 de septiembre de 1999 en la ciudad de Zacatecas,
                            estoy estudiando Ingeniería de Software en la poderosísima
                            UAZ. Me gusta jugar videojuegos, disfrutar la música, comer y cocinar 
                            (Aún ando aprendiendo). Espero nos vaya bien en el examen profe :c. 
                        </p>
                        <p class="card-text">Matrícula: 38192813</p>
                        <img class="img-fluid" width="40%" height="40%" alt="Doge Fuerte" src="images/dogeFuerte.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>