<div class="cuartaCapa">	
    <div class="container-fluid text-center">	
        <h4>4°B Ingeniería de Software</h4>	
        <h1>NOSOTROS: </h1>		   		
    </div>
</div>

<div class="quintaCapa">
    <div class="container-fluid text-center">
        <div class="row">
                <!--tarjeta 1-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Alejandro Carrillo Villegas</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Nací el 19 de Enero de 1999 Zacatecas, Zac. Mis dos pasiones son la informática y la música.
                            Toco la guitarra desde hace 12 años. Recibí educación en música clásica en la secundaria y actualmente toco 
                            principalmente jazz. 
                            Mi gusto por la programación surgió a los 15 años y comencé programando videojuegos para Android. Me gusta el café
                            y la pizza. Asimismo, soy un entusiasta de los idiomas, y actualmente cuento con inglés y francés como idiomas secundarios.
                            Mi objetivo una vez terminada la carrera es viajar a Montreal para estudiar una maestría y establecerme en Canadá.
                        </p>
                        <p class="card-text">Matrícula: 37186929</p>
                        <img class="img-fluid" width="50%" height="50%" alt="Gatito Ponido aki" src="images/chems.png">
                    </div>
                </div>
            </div>
            <!--tarjeta 2-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Rafael Uribe Caldera</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Nací el 28 de Junio del 2000, actualmente me dedico a 
                            estudiar Ingeniería de Software y mis mayores pasatiempos son dibujar y escuchar
                            música. Me gustan los gatos, el café. Mis objetivos actuales son terminar la carrera y
                            seguir mejorando mis habilidades con ilustración digital.
                        </p>
                        <p class="card-text">Matrícula: 35164744</p>
                        <img class="img-fluid" width="50%" height="50%" alt="Gatito Ponido aki" src="images/ponidoAqui.png">
                    </div>
                </div>
            </div>
                <!--tarjeta 3-->
            <div class="col-md-4 col-sm-6">
                <div class="card p-3">
                    <div class="card-header pb-5">
                        <h2 class="card-header-title pt-3">Josué Guillermo González Pinedo</h2>
                    </div>
                    <div class="card-body text-center">
                        <p class="card-text">Nací el 29 de septiembre de 1999 en la ciudad de Zacatecas,
                            estoy estudiando Ingeniería de Software en la poderosísima
                            UAZ. Me gusta jugar videojuegos, disfrutar la música, comer y cocinar 
                            (Aún ando aprendiendo). Espero nos vaya bien en el examen profe :c. 
                        </p>
                        <p class="card-text">Matrícula: 38192813</p>
                        <img class="img-fluid" width="40%" height="40%" alt="Doge Fuerte" src="images/dogeFuerte.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>