<div class="cuartaCapa">	
	<div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-5 col-sm-11">
				<img class="img-fluid" alt="Imagen productos" src="images/nintendo-banner.jpg">
			</div>
			<div class="col-md-5 col-sm-11 text-left">			
				<h2>TIENDA DE JUEGOS RETRO!</h2>
				<p1> Compra videojuegos usados, consolas originales y accesorios de la vieja escuela
					 en la tienda en línea de videojuegos retro más grande en su clase. 
					 Compra todos nuestros productos 100% vintage 100% auténticos, con una garantía 
					 gratuita de 120 días y envio nacional gratis.</p1>			
			</div>
		</div>
	</div>	
</div>

<div class="quintaCapa">
	<div class="container-fluid text-center">		
		<div class="row">
			<div class="container-fluid">
				<h2>Ofertas Retro</h2>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-5">
		  			<div class="card">  
						<div class="card-body"> 		
		    				<img class="img-fluid card-body"  src="images/NES_Mario_2Player.jpg" alt="NES Mario 2 Jugadores">
						</div>
						<div class="card-text">
							NES Original 2 Jugadores con Mario Pack 
							<p class="precio"><del class="rebaja">$999.99</del> $799.99</p> 
						</div>  
		  			</div>
	  			</div>
	  			<div class="col-md-3 col-sm-5">
				  	<div class="card">
						<div class="card-body">
					    	<img class="img-fluid card-body" src="images/N64_goldeneye.jpg" alt="N64 GoldenEye Pack">
						</div>
						<div class="card-text">
							N64 GoldenEye Pack
							<p class="precio"><del class="rebaja">$1499.99</del> $1299.99</p>  
						</div>
				  	</div>
			  	</div>
			  	<div class="col-md-3 col-sm-5">
				  	<div class="card">
						<div class="card-body">
							<img class="img-fluid card-body" src="images/Wii-system.jpg" alt="Sistema Wii">
						</div>	
						<div class="card-text">
							Sistema Wii Pack
							<p class="precio"><del class="rebaja">$899.99</del> $699.99</p>
					  	</div>
					</div>
	  			</div>
	  			<div class="col-md-3 col-sm-5">
		  			<div class="card">
						<div class="card-body">
							<img class="img-fluid card-body" src="images/NES_ContraTysonZelda.jpg" alt="Card image cap">
						</div>	
						<div class="card-text">
							NES Original Contra, Tyson, Zelda Pack
							<p class="precio"><del class="rebaja">$1899.99</del> $1699.99</p>
					  	</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="container-fluid text-center">
			<button type="button" class="btn btn-primary">Más Ofertas </button>
		</div>
   </div>
</div>