<div class="cointaner-fluid sextaCapa">
    <img src="images/submit.jpg" class="img-fluid">
</div>
<footer>
	<div class="container ultimaCapa" >
		<div class="text-center logo">
		  <img src="images/logo.png" class="rounded" alt="...">
		</div>
	    
	    <div class="row fcols">	    
	    	<div class="col-sm-3">
	    		<h1>TIENDA</h1>
	    		<div class="linea"></div>
	    		<ul class="nav flex-column">
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Acerca de</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Vende tus videojuegos</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Centro de Reparacion</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Ofertas y Cupones</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Blog</h2> </a> </li>
				</ul>	    	
		    </div>   	
		    <div class="col-sm-3">
		    	<h1>COMPAÑIA</h1>
		    	<div class="linea"></div>
	    		<ul class="nav flex-column">
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Envio y Devoluciones</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Contactanos</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Compra Segura</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Privacidad</h2> </a> </li>
				</ul>	    	
		    </div>  
		    <div class="col-sm-3">
		    	<h1>CUENTA</h1>
		    	<div class="linea"></div>
	    		<ul class="nav flex-column">
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Rastrear Mi Pedido</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Mi Cuenta</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>Carrito de Compras</h2> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <h2>FAQs</h2> </a> </li>
				</ul>	    	
		    </div>  		    
		    <div class="col-sm-3">
		    	<h1>SOCIAL</h1>
		    	<div class="linea"></div>
	    		<ul class="nav redes">
	    			<li class="nav-item"><a class="nav-link" href="#"> <img src="images/facebook.png" class="img-fluid"> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <img src="images/twitter.png" class="img-fluid"> </a> </li>	    			
	    			<li class="nav-item"><a class="nav-link" href="#"> <img src="images/pinterest.png" class="img-fluid"> </a> </li>
	    			<li class="nav-item"><a class="nav-link" href="#"> <img src="images/youtube.png" class="img-fluid"> </a> </li>	    			
	    			<li class="nav-item"><a class="nav-link" href="#"> <img src="images/google.png" class="img-fluid"> </a> </li>
				</ul>	    	
		    </div>  
    	</div>
    </div>
 </footer>