<div class="cointaner-fluid sextaCapa">
    <img src="images/submit.jpg" class="img-fluid">
</div>
<footer>
    <div class="container-fluid ultimaCapa">
      <img src="images/logo.png" class="img-fluid">
    </div>
  </footer>