<header>
  <div class='container-fluid primeraCapa' style="text-align: center;">
    <div class="fila">
      <a href="#freeshipping">
        <img src="images/shippingicon.gif" class="img-fluid">
        ENVIOS GRATIS <span class="minusculas1">con ordenes mayores de $600</span>
      </a>
      <a href="#garantia">
        120 DIAS DE GARANTIA <span class="minusculas2">que nadie puede superar!</span> 
      </a>
    </div>   
  </div>


  <div class='container-fluid segundaCapa'>
    <ul class="c1left">
      <li><a href="#">Contáctanos</a></li>
      <li><a href="/AcercaDe">Acerca de</a></li>
      <li><a href="#">Contáctanos</a></li>
    </ul>
    
    <a href="/" class="homeBtn"><img src="images/logo.png" class="img-fluid"></a>
    
    <ul class="c2right">
      <li><a href="#">Vende tus Videojuegos</a></li>
      <li><a href="#">Cuenta</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Carrito</a></li>
    </ul>
    
  </div>


  <div class="container-fluid terceraCapa">
    
    <ul class="consolas">
      <li><a href="#" class="consola">Nintendo</a></li>
      <li><a href="#" class="consola">Sega</a></li>
      <li><a href="#" class="consola">PlayStation</a></li>
      <li><a href="#" class="consola">Xbox</a></li>
      <li><a href="#" class="consola">Ofertas Retro</a></li>
    </ul>
    <ul>
      <li>
        <a href="#" class="burgMenu"><img src="images/menu.png" class="img-fluid" style="width: 32px;"></a>
      </li>
    </ul>
    <ul>
      <input type="text" placeholder="Buscar en tienda" name="search">
      <li><a href="#" class="searchButton">
        <img src="images/search.jpg" class="img-fluid" style="padding-bottom: 5px;">
      </a></li>
    </ul>
  </div>
</header>
  
  <!--HEADER -->