<header>
  <div class='container-fluid primeraCapa'>
    <div class="fila">
      <a href="#freeshipping">
        <img src="images/shippingicon.gif" class="img-fluid">
        ENVIOS GRATIS con ordenes mayores de $600
      </a>
      <a href="#garantia">
        120 DIAS DE GARANTIA que nadie puede superar!
      </a>
    </div>   
  </div>


  <div class='container-fluid segundaCapa'>
    <nav style="align-items: baseline;">
      <ul class="c1left">
        <li><a href="#">Contáctanos</a></li>
        <li><a href="#">Acerca de</a></li>
        <li><a href="#">Contáctanos</a></li>
      </ul>
    </nav>
      <a href="#homebutton"><img src="images/logo.png" class="img-fluid"></a>
    <nav>  
      <ul class="c2right">
        <li><a href="#">Vende tus Videojuegos</a></li>
        <li><a href="#">Cuenta</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Carrito</a></li>
      </ul>
    </nav>
  </div>


  <div class='container-fluid terceraCapa'>
    <div>
      <div>
        <div>
          <p>
            Home
          </p>
        </div>
      </div>
    </div>
  </div>
  </header>
  <!--HEADER -->