<header>
  <div class='container-fluid primeraCapa' style="text-align: center;">
    <div class="fila">
      <a href="#freeshipping">
        <img src="images/shippingicon.gif" class="img-fluid">
        ENVIOS GRATIS con ordenes mayores de $600
      </a>
      <a href="#garantia">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        120 DIAS DE GARANTIA
      </a>
    </div>   
  </div>


  <div class='container-fluid segundaCapa'>
    <div>
      <div>
        <div>
          <img src="images/logo.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class='container-fluid terceraCapa'>
    <div>
      <div>
        <div>
          <p>
            Home
          </p>
        </div>
      </div>
    </div>
  </div>
  </header>
  <!--HEADER -->